<div class="container">
    <h1 class="text-center">Subject and Behaviour Subject</h1>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
               <strong> Note:-</strong> See on Top-Right Most for changes
                <div class="input-group-prepend">
                    <span class="input-group-text" id="my-addon">Notify Data</span>
                </div>
                <input (change)="changeNotify()" class="form-control" [(ngModel)]="notifier" type="number" name=""
                    placeholder="Send Notification Number..." aria-label="Recipient's " aria-describedby="my-addon">
            </div>
        </div>
        <div class="col-md-8 border">

            <h1>Username <strong class="text-primary">{{username}}</strong></h1>
            <div class="row">
                <div class="col border">
                    <app-subject1></app-subject1>
                </div>
                <div class="col border">
                    <app-subject2></app-subject2>

                </div>
                <div class="col border">
                    <app-subject3></app-subject3>

                </div>
            </div>

        </div>
    </div>
</div>