<div class="container">
    <h1 class="text-center">Of-From operator</h1>
    <strong>Ex-1 (OF operator)</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p class="p-2 bg-light border">
                <strong>Data:</strong> of('Aayush', 'Shruti', 'Christano')
            </p>
            <hr>
            <ul id="elContainer" class="list-unstyled">
            </ul>
        </div>
        <div class="col-md-6">
            <p class="p-2 bg-light border">
                <strong>Data:</strong> of({{objMesaages | json}}) 
            </p>
            <hr>
            <ul class="list-unstyled">
                <li class="list-group-item">{{objMesaages.name}}</li>
                <li class="list-group-item">{{objMesaages.name1}}</li>
                <li class="list-group-item">{{objMesaages.name2}}</li>
            </ul>
        </div>
    </div>
    <strong>Ex-2 (From operator)</strong>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <p class="p-2 bg-light border">
                <strong>Data:</strong> From(['Nisha', 'Raman', 'Rashtri'])
            </p>
            <hr>
            <ul id="elContainer2" class="list-unstyled">
            </ul>
        </div>
        <div class="col-md-4">
            <p class="p-2 bg-light border">
                <strong>Data: Promise to Observable:</strong> 
            </p>
            <hr>
            <ul id="elContainer3" class="list-unstyled">
               
            </ul>
        </div>

        <div class="col-md-4">
            <p class="p-2 bg-light border">
                <strong>Data: String to Observable:</strong> 
            </p>
            <hr>
            <ul id="elContainer4" class="list-unstyled">
               
            </ul>
        </div>
    </div>
</div>