<div class="container">
        <h1 class="text-center">Merge-Map-Operator</h1>
        <div class="row">
            <div class="col-md-4">
                <strong>EX-01 | Map</strong>
                <hr>
                <p class="p-2 bg-light border">
                    <strong>Tech</strong> 1,2,3,4,5
                </p>
                <ul id="elContainer"></ul>
                <br>
            </div>
            <div class="col-md-4">
                <strong>EX-02 | Map + MergeAll</strong>
                <strong>Source-02 | Sports Channel</strong>
                <hr>
                <p class="p-2 bg-light border">
                    <strong>Sports</strong> 1,2,3
                </p>
                <ul id="elContainer2"></ul>
                <br>
            </div>
            <div class="col-md-4">
                <strong>EX-03 | Merge Map</strong>
                <hr>
                <p class="p-2 bg-light border">
                    <strong>News</strong> 1,2,3,4
                </p>
                <ul id="elContainer3"></ul>
                <br>
                
            </div>
        </div>
    
    
        
    </div>