<div class="container">
    <h1> From event</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Add Video
                </div>
                <div class="card-body">
                    <p>
                        fromEvent will create an event stream, and by subscribing we get output in videos box
                    </p>
                    <button #addBtn class="btn btn-primary">Add Videos</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    List
                </div>
               <ul id="eleContainer" class="list-unstyled">
                   <!-- <li class="list-group-item">Video 1</li>
                   <li class="list-group-item">Video 2</li>
                   <li class="list-group-item">Video 3</li> -->
               </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    List 2
                </div>
               <ul id="eleContainer2" class="list-unstyled">
                   <!-- <li class="list-group-item">Video 1</li>
                   <li class="list-group-item">Video 2</li>
                   <li class="list-group-item">Video 3</li> -->
               </ul>
            </div>
        </div>
    </div>
</div>