<div class="container">
    <h1 class="text-center">Concat-Map-Operator</h1>
    <div class="row">
        <div class="col-md-4">
            <strong>EX-01 | Map</strong>
            <hr>
            <p class="p-2 bg-light border">
                <strong>Tech</strong> 1,2,3,4,5
            </p>
            <ul id="elContainer"></ul>
            <br>
        </div>
        <div class="col-md-4">
            <strong>EX-02 | Map + ConcatAll</strong>
            <hr>
            <p class="p-2 bg-light border">
                <strong>Sports</strong> 1,2,3
            </p>
            <ul id="elContainer2"></ul>
            <br>
        </div>
        <div class="col-md-4">
            <strong>EX-03 | Concat Map</strong>
            <hr>
            <p class="p-2 bg-light border">
                <strong>News</strong> 1,2,3,4
            </p>
            <ul id="elContainer3"></ul>
            <br>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <strong>MergeMap</strong>
            <hr>
            <p class="p-2 bg-light border">
                <strong>Data</strong> 'Tech', 'Bussiness', 'Management'
            </p>
            <ul id="elContainer4"></ul>
            <br>
        </div>
    </div>
<div class="row">
        <div class="col-md-6">
           <h1> Concat-Map <small>Mobile Notifictaion Example</small></h1>
        </div>
    <div class="col-md-6">
        <div class="iphone-x">
            <i>Speaker</i>
            <b>Camera</b>
            <s>10:24</s>
            <div class="notifications" id="fb">
                   
                </div>
          </div>
          
    </div>
</div>
   
</div>