ul.error>li {
    background-color: #ff000036;
    color: red;
    border: #ff000038 solid 1px;
    margin: 15px;
}
ul.completed>li {
    background-color: #00ff626b;
    color: rgb(13, 77, 23);
    border: #00ff734f solid 1px;
    margin: 15px;
}