<div class="container">
    <h1 class="text-center">Take-Operator</h1>
    <p class="border p-2 bg-secondary text-white text-center"> 
        'Aayush', 'Shruti', 'Christano', 'Rashmi', 'Kritika', 'Raj', "Utsav", "Ravi"
    </p>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex-01</strong> take(5)
            <br>
            <ul id="elContainer">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex-02</strong> takeLast(5)
            <br>
            <ul id="elContainer2">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex-03</strong> takeUntill(5) [condition: press any key to stop]
            <br>
            <ul id="elContainer3">
            </ul>
        </div>
    </div>
</div>