<div class="container">
        <h1 class="text-center">Merge-Operator</h1>
        <div class="row">
            <div class="col-md-4">
                <strong>Source-01 | Tech Channel</strong>
                <hr>
                <p class="p-2 bg-light border">
                    <strong>Tech</strong> 1,2,3,4,5
                </p>
                <br>
            </div>
            <div class="col-md-4">
                <strong>Source-02 | Sports Channel</strong>
                <hr>
                <p class="p-2 bg-light border">
                    <strong>Sports</strong> 1,2,3
                </p>
                <br>
            </div>
            <div class="col-md-4">
                <strong>Source-03 | News Channel</strong>
                <hr>
                <p class="p-2 bg-light border">
                    <strong>News</strong> 1,2,3,4
                </p>
                <br>
                
            </div>
        </div>
    
    
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card  manage-Subscribe">
                    <div class="card-header ">
                        Your Channel (Subscriber)
                    </div>
                    <div class="card-body">
                        <ul id="elcontainer">
                       
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>