<div class="container border">
    <h1 class="text-center text-primary">To-Array</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Simple To Array</h5>
                    <p class="card-text">
                        <span *ngIf="loader1"><strong class="p-autocomplete-loader"> Loading....</strong></span>
                        <span  *ngIf="!loader1">[
                            <ng-container *ngFor="let data of data1">
                               {{data}}
                            </ng-container>
                            ]
                        </span>
                        
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">From  toArray</h5>
                    <p class="card-text">
                        <span *ngIf="loader2"><strong class="p-autocomplete-loader"> Loading2....</strong></span>
                        <span  *ngIf="!loader2">[
                            <ng-container *ngFor="let data of data2">
                               {{data | json}}
                            </ng-container>
                            ]
                        </span>
                        
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">OF toArray</h5>
                    <p class="card-text">
                        <span >[
                            <ng-container *ngFor="let data of data3">
                               {{data | json}}
                            </ng-container>
                            ]
                        </span>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>