<div class="container">
    <h1 class="text-secondary text-center">View Encapsulation</h1>
    <div class="d-flex flex-column bd-highlight mb-3">
      <div class="p-2 bd-highlight">
        <div class="list-group-item-primary p-2">
          <div class="text-center">
            <h1>I am View-Encapsulated Component</h1><br/>



            <app-child-encapsulated></app-child-encapsulated> <!--Child Component--><hr>
            <h3> For more Details read this article: <a href="https://abhankale.medium.com/angular-brings-view-encapsulation-936fcaf71971" target="_blank">View Encapsulation</a></h3>
          </div>
        </div>
      </div>

    </div>
  </div>